- 
    const skillsTabs = [
        {
            skill: 'Html/Css (Sass)',
            percentage: 96
        },
        {
            skill: 'Javascript',
            percentage: 88
        },
        {
            skill: 'React/Vue',
            percentage: 85
        },
        {
            skill: 'Wordpress',
            percentage: 80
        },
        {
            skill: 'PHP',
            percentage: 75
        }
    ]

include ./mixin


section(
    id='about'
    class='w-full'
    )
    +subtitle( 'About Me' )
    .my-container
        div( class='flex md:flex-no-wrap flex-wrap md:justify-around mt-32' )
            div( class='md:w-1/3 w-full px-8 md:m-0 mb-16' )
                p( class='font-hairline leading-relaxed text-gray-800' ) Welcome to my Portfolio ! I'm a Junior web developer from Brussels, Belgium. I just finished a 6 months intensive full-stack web development formation. I've learned different languages and frameworks : Html / Css, Javascript / DOM, React, Bash, Php, Wordpress and Laravel.
            div( class='md:w-1/3 w-full px-8 md:m-0 mb-16' )
                p( class='font-hairline leading-relaxed text-gray-800' ) I'm interested in the entire front-end spectrum of web development. I'm a well organised person, independant with high attention to detail. I'm naturally curious, and perpetually working on improving my skills.
            div( class='md:w-1/3 w-full px-5' )
                each skillsTab, index in skillsTabs
                    div(
                        class='shadow w-5/6 bg-gray-200 rounded m-auto md:mb-5 mb-5'
                        key = index
                    )
                        div(
                            class='bg-gray-800 text-xs text-center text-white rounded'
                            style=`width: ${ skillsTab.percentage }%`
                        )= skillsTab.skill
    include ./numbers
