- 
    const socialLinks = [
        {
            icon: 'fab fa-linkedin-in',
            url: 'https://www.linkedin.com/in/thomas-deman-168562193/'
        },
        {
            icon: 'fas fa-envelope',
            url: 'mailto:dt.deman.thomas@gmail.com'
        },
        {
            icon: 'fab fa-instagram',
            url: 'https://www.instagram.com/molengeek/'
        }
    ]


div(
    id='footer'
    class='bg-black relative'
)
    div( class='my-container' )
        div( class='flex w-full justify-between pt-32' )
            p( class='text-gray-500' ) &copy; 2019, Thomas Deman, All Rights Reserved.
            ul.flex
                each socialLink, index in socialLinks
                    li( key = index )
                        a(
                            href = socialLink.url
                            target='_blank'
                        )
                            i(
                                class = socialLink.icon
                                class='text-gray-500 text-lg mx-4'
                                class='hover:text-gray-200'
                            )
    a(
        href='#home'
        class='to-header'
        class='absolute'
    )
        i( class='fas fa-arrow-up text-gray-500 text-2xl hover:text-gray-200' )
