- 
    const socialLinks = [
        {
            icon: 'fab fa-linkedin-in',
            url: 'https://www.linkedin.com/in/thomas-deman-168562193/'
        },
        {
            icon: 'fas fa-envelope',
            url: 'mailto:dt.deman.thomas@gmail.com'
        },
        {
            icon: 'fab fa-instagram',
            url: 'https://www.instagram.com/molengeek/'
        }
    ]


section(
    id='footer'
    class='bg-black relative'
)
    .my-container
        div( class='flex w-full md:justify-between justify-around pt-32' )
            p( class='text-gray-400 md:text-base text-xs' ) &copy; 2019, Thomas Deman, All Rights Reserved.
            ul.flex
                each socialLink, index in socialLinks
                    li( key = index )
                        a(
                            href = socialLink.url
                            target='_blank'
                        )
                            i(
                                class = socialLink.icon
                                class='text-gray-400 text-lg mx-4'
                                class='hover:text-white'
                            )
    a(
        href='#home'
        class='to-header'
        class='absolute md:block hidden'
    )
        i( class='fas fa-arrow-up text-gray-400 md:text-2xl text-sm hover:text-white' )
