section(
    id='home'
    class='w-full h-screen my-bg'
)
    include ./navbar
    div( class='w-full pt-48' )
        div(
            class='w-48 h-48 m-auto my-bg rounded-full'
            class='me-img'
        )
    div( class='text-center' )
        h1(
            class='text-4xl tracking-wide text-white mt-6 font-medium'
            class='animated fadeInUp delay-1s'
        ) Thomas Deman
        p(
            class='text-white font-hairline'
            class='animated fadeInUp delay-2s'
        ) Web Developer
    a( href='#about' )
        i(
            class='fas fa-arrow-down text-2xl text-white absolute my-arrow'
            class='hover:text-gray-400'
        )
