- 
    const navLinks = [
        'home',
        'about',
        'portfolio',
        'services',
        'contact'
    ]


div(
    id='navbar'
    class='h-20 w-full fixed top-0 z-50 hidden md:block'
)
    .my-container
        div( class='justify-between flex h-20 m-auto py-6' )
            h2( class='ml-8 text-2xl title text-white' ) TD
            ul( class='flex justify-around w-2/5' )
                each navLink, index in navLinks
                    li( key = index )
                        a(
                            href=`#${ navLink }`
                            class='text-xs text-white sm:mx-2 mx-0'
                            class='hover:text-gray-500'
                            class='links'
                        )= navLink.toUpperCase()
